<div class="layout">
	<div class="columns">
		<div class="column">
			<div class="markdown gap--large">
				<span class="title">{{ testData }}</span>
				<div class="content-element content clamp--20" data-height-threshold="320">
					<p>
						<i><b>First Time Around</b></i> is a one-disk DVD by Randy Bachman and Burton
						Cummings recorded in 2006 at CBC Studios in Toronto, Canada, by CBC. It was
						originally shown on CBC in April 2006, but was later released as a DVD with
						extended footage of the concert. The concert has 20 tracks of songs by
						Bachman-Turner Overdrive, Burton Cummings, The Guess Who and cover versions of
						artists such as Sting and Jimi Hendrix. It was originally shown on CBC in
						April 2006, but was later released as a DVD with extended footage of the
						concert. The concert has 20 tracks of songs by Bachman-Turner Overdrive,
						Burton Cummings, The Guess Who and cover versions of artists such as Sting and
						Jimi Hendrix Sting and Jimi Hendrix. It was originally shown on CBC in April
						2006, but was later released as a DVD with extended footage of the concert.
						The concert has 20 tracks of songs by Bachman-Turner Overdrive, Burton
						Cummings, The Guess Who and cover versions of artists such as Sting and Jimi
						Hendrix Sting and Jimi Hendrix. It was originally shown on CBC in April 2006,
						but was later released as a DVD with extended footage of the concert. The
						concert has 20 tracks of songs by Bachman-Turner Overdrive, Burton Cummings,
						The Guess Who and cover versions of artists such as Sting and Jimi Hendrix.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="title_bar">
	<img
		class="image"
		src="https://upload.wikimedia.org/wikipedia/commons/1/10/2023_Obsidian_logo.svg"
	/>
	<span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
	<span class="instance">Description</span>
</div>
