<div class="layout">
	<div class="columns">
		<div class="column"></div>
		<div class="column markdown">
			<div class="item">
				<div class="meta"></div>
				<div class="content">
					<span class="title title--small">Team Meeting</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="title_bar">
	<img class="image" src="{{ trmnl.plugin_settings.custom_fields_values.icon_url }}" />
	<span class="title">Obsidian Daily</span>
	<!-- <span class="instance">Fortnite</span> -->
</div>
